{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ]
}
